* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: white;
    padding: 20px;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.hidden {
    display: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.head {
    text-align: center;
    background: #FFEAD3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    background: #FFEAD3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skills {
    background: #FFEAD3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.education {
    background: #FFEAD3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact {
    background: #FFEAD3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1  {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #07c;
}

table {
    border-collapse: collapse; 
    width: 650px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black; 
    padding: 8px; 
}

th {
    background-color: #EA7B7B;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: #EA7B7B;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #9E3B3B;
}

.footer {
    text-align: center;
}

.btn {
    border-radius: 8px;
}