* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: white;
    padding: 20px;
}

.hidden {
    display: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.head {
    text-align: center;
    background: rgb(240, 241, 235);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    background: rgb(240, 241, 235);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skills {
    background: rgb(240, 241, 235);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.education {
    background: rgb(240, 241, 235);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact {
    background: rgb(240, 241, 235);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1  {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #07c;
}

table {
    border-collapse: collapse; 
    width: 650px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black; 
    padding: 8px; 
}

th {
    background-color: #f8f8f8;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

form br {
    display: none;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: darkgray;
}

.footer {
    text-align: center;
}

.btn {
    border-radius: 8px;
    background-color: rgb(240, 241, 235);
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .head,
.dark-mode .about,
.dark-mode .skills,
.dark-mode .education,
.dark-mode .contact,
.dark-mode .btn,
.dark-mode .button {
    background-color: #222;
    color: white;
}

